.signMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signForm {
    background-color: rgb(67, 64, 64);
    width: 416px;
    border-radius: 1rem;
    padding: 32px;
}

.signTitle {
    text-align: center;
    font-weight: 900px;
    color: rgb(246, 246, 246);
}

.Signform-label {
    color: rgb(246, 246, 246);
}
.checkSuperv{
    color: rgb(178, 174, 185);
}
.contBtn {
    text-align: center;
    
}
.btnSign {
 padding: 2px 16px;
 border-radius: 0.5rem;
}