.headTeam {
  width: 100vw;
  margin-bottom: 20px;
  padding: 48px 15px;
  background-color: none;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: var(--ghost-green);
  position: relative;
}

.headText {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-style: normal;
  padding: 25px 38px 0px 38px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

#headTitle {
  margin-bottom: 20px;
  font-family: var(--font-family-register);
  font-size: 2.5rem;              
  font-weight: 800;               
  color: #0f172a;                  
  background: linear-gradient(180deg, #0d0d0d, #448F73, #404040);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.9px;
  position: relative;
}


/* Optional: subtle underline effect on hover */
#headTitle::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 3px;
  background-color: var( --ghost-black);
  transition: width 0.3s ease;
}

#headTitle:hover::after {
  width: 300px;
}

/* #headTitle {
    margin-bottom: 20px;
    font-family: var( --font-family-register);
} */

.textParagraf{
    font-weight: 300 !important;
    color: var( --ghost-dark_gray);
}

.meetTeambtn {
  display: inline-block;
  background: var(--link-color);
  color: var(--ghost-white);
  padding: 0.6rem 1.9rem;
  border-radius: 2rem;
  border: 2px groove;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--font-family-register);
  text-decoration: none;
  transition: background 0.2s;
  margin-bottom: 15px;
}
.meetTeambtn:hover {
  background: var(--ghost-dark_gray);
}
.meetTeambtn:active {
  transform: scale(0.95);
  transition: transform 0.1s ease; /* smooth quick shrink */
}

.teamFoto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}


@media screen and (max-width: 968px) {
  .headText,
  .teamFoto {
    width: 100%;
    position: static; /* stack on small screens */
    height: auto; 
  }

  .headText {
    padding: 0px 38px 0px 38px;
  }

  .headTeam {
    flex-direction: column;
    height: auto;
  }
}